	#top {
	text-align: center;
	}

	#characterList {
	margin-left: auto;
	margin-right: auto;
	}

	caption {
	font-size: 18px;
	text-decoration: underline;
	}

	.emojiIDCol {
	text-align: left;
	width: 76px;
	}

	.pings {
	line-height: 1.8;
	display:inline;
	width: 50%;
	}

	.emojis {
	line-height: 1.8;
	display:inline-block;
	overflow-wrap: break-word;
	width: 124px;
	}

	#emoji {
	float: left;
	background-color: whitesmoke;
	padding: 7px;
	border-radius: 20px;
	}
	
	.pingListRow {
	text-align: right;
	}

	.emojiListRow {
	text-align: right;
	}

	#pingList {
	margin-left: auto;
	margin-right: auto;
	}

	#emojiList {
	float: left;
	}

	.inputEmojiBox {
	width: 1px;
	background-color:  rgb(142,208,115);
	}
	
	.charSend {
	background-color: rgb(142,208,115);
	border-radius: 5px;
	line-height: 1.09;
	}
	
	.charSendx {
	cursor: not-allowed;
	background-color: rgb(208,115,115);
	border-radius: 5px;
	}
	
	.characterListHead {
	text-align: center;
	text-decoration: underline;
	font-size:18px;
	}
	
	.characterListRow {
	text-align:center;
	}
	
	.team {
	font-size:14px;
	font-style: italic;
	margin-bottom: 1px;
	}

	 .characterListcell {
	height: 30px;
	width: 100px;
	padding: 5px;
	}
	
	#butt {
	height: 30px;
	width: 100px;
	padding: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
	
	#passCheck {
	text-align: center;
	padding-bottom: 8px;
	}
	
	#goBack {
	text-align: center;
	}
	
	#access {
  	position: fixed;
  	top: 50%;
 	left: 50%;
 	/* bring your own prefixes */
 	transform: translate(-50%, -50%);
	}
